/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */


.App {
  /* border: 5px solid blue; */
  display: flex;
  justify-content: space-evenly;
}
.mainCont{
  /* border: 5px solid blue; */
  display: flex;
  justify-content: space-between;
  margin: 50px;
  font-weight: bold;
}

.student{
  width: 32%;
  border: 5px solid blue;
}

h1{
  text-align: center;
  color: red;
  text-decoration: underline;
}
p{
  font-size: 20px;
}

.rightSide, .rightSide{
  text-align: center;
}

h2{
  color: red;
  text-align: center;
  text-decoration: underline;

}
